#mainSVG {
    position: absolute; 
    width: 700px; 
    height: 600px;
    top: 100px;
}

#indymap {
    position: absolute; 
    max-width: 700px;
    max-height: 600px;
    margin-left: 46px;
    margin-top: 1px;
    top: 100px;
}

#introBox {
    position: absolute;
    width: 650px; 
    height: 650px;
    background-color: #213020;
    z-index: 3;
    border-radius: 25px;
    display: none;
    flex-direction: column;
    justify-content: center;
}

#introBox > h1 {
    color: white;
    font-size: 150px;
    line-height: 130px;
    margin: 5px auto;
}
#introBox > h2 {
    color: white;
    font-size: 75px;
    line-height: 65px;
    margin: 5px auto;
}

.main {
    display: flex;
}

.centerDisplay {
    width: 680px;
    height: 600px;
}

.centerContainer {
    margin-top: 40px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

text {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; 
}

h1 { 
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; 
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    margin: 0px auto 20px  auto;
}

h2 { 
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; 
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    margin: 5px auto;
}

.sidebar {
    width: 500px;
    display: flex;
    flex-direction: column;
    min-height: -webkit-min-content;
    overflow: auto;
    height: 800px;
}

.imgDiv {
    margin: 5px auto;
    flex-direction: column;
    display: none;
    padding: 5px;
}

.sideImage {
    max-width: 260px;
    max-height: 400px;
}

#rightSVG {
    position: relative;
    width: 500px;
    height: 400px;
}

.rightPane {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
}

.graph > h2 {
    margin: 10px auto;
    
}

.graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#legend {
    height: 120px;
    width: 200px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 15px;
}

.slider {
    margin: 675px auto 0px auto;
}

.animControls {
    display: none;
}

.tooltip {
    padding: 15px;
    position: absolute;
    z-index: 10;
    background:#000;
    color: white;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; 
}